[project]
	description = NFS-Ganesha is an NFSv3,v4,v4.1 fileserver that runs in user mode on most UNIX/Linux systems
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sswen
[access "refs/for/refs/*"]
	read = group user/sswen
	push = group user/sswen
	label-Code-Review = -2..+2 group user/sswen
	label-Verified = -1..+1 group user/sswen
	rebase = group user/sswen
	removeReviewer = group user/sswen
	submit = group user/sswen
[access "refs/heads/*"]
	read = group user/sswen
	create = group user/sswen
	push = +force group user/sswen
	pushMerge = group user/sswen
[access "refs/tags/*"]
	push = +force group user/sswen
	pushTag = group user/sswen
	pushSignedTag = group user/sswen
